<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Layout</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Center and style the product image */
        .product-image img {
            width: 120px;
            height: 120px;
            border-radius: 50%; /* Make the image circular */
            object-fit: cover;
        }
        /* Make text smaller and style */
        .product-title {
            font-size: 14px;
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 5px;
        }
        .product-desc {
            font-size: 12px;
            color: #777;
            margin-bottom: 10px;
        }
        .btn-buy {
            font-size: 12px;
            background-color: #f8f8f8;
            color: #333;
            border: 1px solid #ddd;
            padding: 5px 10px;
        }
        .btn-buy:hover {
            background-color: #ddd;
        }
    </style>
</head>
<body>

    <div class="container my-5">
        <div class="row text-center">
            <!-- Product 1 -->
            <div class="col-md-4">
                <div class="product">
                    <div class="product-image">
                        <img src="http://127.0.0.1:8000/images/product/41.jpg" alt="Product 1">
                    </div>
                    <h5 class="product-title">Beautiful Ring</h5>
                    <p class="product-desc">Elegant diamond ring with intricate design.</p>
                    <a href="#" class="btn btn-buy">Buy Now</a>
                </div>
            </div>
            <!-- Repeat the above structure for more products -->
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

     <div class="custom-col-5">
                                <div class="single_product">
                                    <div class="product_thumb">
                                        <a href="#" class="primary_img"><img src="images/product/71.jpg"
                                                alt="product1"></a>
                                        <a href="#" class="secondary_img"><img src="images/product/72.jpg"
                                                alt="product1"></a>
                                        <div class="quick_button">
                                            <a href="#" data-toggle="modal" data-target="#modal_box"
                                                data-placement="top" data-original-title="quick view">Quick
                                                View</a>
                                        </div>
                                    </div>
                                    <div class="product_content">
                                        <div class="tag_cate">
                                            <a href="{{ route('product-details') }}">Ring, Necklace,</a>
                                            <a href="#">Earrings</a>
                                        </div>
                                        <h3><a href="#">Necklace Set</a></h3>
                                        <div class="price_box">
                                            <span class="old_price">Rs. 45654</span>
                                            <span class="current_price">Rs. 44015</span>
                                        </div>
                                        <div class="product_hover">
                                            <div class="product_ratings">
                                                <ul>
                                                    <li><a href="#"><i class="ion-ios-star-outline"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="ion-ios-star-outline"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="ion-ios-star-outline"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="ion-ios-star-outline"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="ion-ios-star-outline"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="product_desc">
                                                <p>This is a gold ring with diamond and Lorem ipsum
                                                    dolor sit amet.</p>
                                            </div>
                                            <div class="action_links">
                                                <ul>
                                                    <li><a href="#" data-placement="top" title="Add to Wishlist"
                                                            data-toggle="tooltip"><span
                                                                class="ion-heart"></span></a></li>
                                                    <li class="add_to_cart"><a href="#" title="Add to Cart">Add
                                                            to Cart</a></li>
                                                    <li><a href="#" title="Compare"><i
                                                                class="ion-ios-settings-strong"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="custom-col-5">
                                <div class="single_product">
                                    <div class="product_thumb">
                                        <a href="#" class="primary_img"><img src="images/product/4.jpg"
                                                alt="product1"></a>
                                        <a href="#" class="secondary_img"><img src="images/product/5.jpg"
                                                alt="product1"></a>
                                        <div class="quick_button">
                                            <a href="#" data-toggle="modal" data-target="#modal_box"
                                                data-placement="top" data-original-title="quick view">Quick
                                                View</a>
                                        </div>
                                    </div>
                                    <div class="product_content">
                                        <div class="tag_cate">
                                            <a href="#">Ring, Necklace,</a>
                                            <a href="#">Earrings</a>
                                        </div>
                                        <h3><a href="#">Necklace Set</a></h3>
                                        <div class="price_box">
                                            <span class="old_price">Rs. 45654</span>
                                            <span class="current_price">Rs. 44015</span>
                                        </div>
                                        <div class="product_hover">
                                            <div class="product_ratings">
                                                <ul>
                                                    <li><a href="#"><i class="ion-ios-star-outline"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="ion-ios-star-outline"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="ion-ios-star-outline"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="ion-ios-star-outline"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="ion-ios-star-outline"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="product_desc">
                                                <p>This is a gold ring with diamond and Lorem ipsum
                                                    dolor sit amet.</p>
                                            </div>
                                            <div class="action_links">
                                                <ul>
                                                    <li><a href="#" data-placement="top" title="Add to Wishlist"
                                                            data-toggle="tooltip"><span
                                                                class="ion-heart"></span></a></li>
                                                    <li class="add_to_cart"><a href="#" title="Add to Cart">Add
                                                            to Cart</a></li>
                                                    <li><a href="#" title="Compare"><i
                                                                class="ion-ios-settings-strong"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="custom-col-5">
                                <div class="single_product">
                                    <div class="product_thumb">
                                        <a href="#" class="primary_img"><img src="images/product/10.jpg"
                                                alt="product1"></a>
                                        <a href="#" class="secondary_img"><img src="images/product/11.jpg"
                                                alt="product1"></a>
                                        <div class="quick_button">
                                            <a href="#" data-toggle="modal" data-target="#modal_box"
                                                data-placement="top" data-original-title="quick view">Quick
                                                View</a>
                                        </div>
                                    </div>
                                    <div class="product_content">
                                        <div class="tag_cate">
                                            <a href="#">Ring, Necklace,</a>
                                            <a href="#">Earrings</a>
                                        </div>
                                        <h3><a href="#">Necklace Set</a></h3>
                                        <div class="price_box">
                                            <span class="old_price">Rs. 45654</span>
                                            <span class="current_price">Rs. 44015</span>
                                        </div>
                                        <div class="product_hover">
                                            <div class="product_ratings">
                                                <ul>
                                                    <li><a href="#"><i class="ion-ios-star-outline"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="ion-ios-star-outline"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="ion-ios-star-outline"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="ion-ios-star-outline"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="ion-ios-star-outline"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="product_desc">
                                                <p>This is a gold ring with diamond and Lorem ipsum
                                                    dolor sit amet.</p>
                                            </div>
                                            <div class="action_links">
                                                <ul>
                                                    <li><a href="#" data-placement="top" title="Add to Wishlist"
                                                            data-toggle="tooltip"><span
                                                                class="ion-heart"></span></a></li>
                                                    <li class="add_to_cart"><a href="#" title="Add to Cart">Add
                                                            to Cart</a></li>
                                                    <li><a href="#" title="Compare"><i
                                                                class="ion-ios-settings-strong"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          
                    `);


                    
<script>
    $(document).ready(function() {
        var requestData = {
            tag: 'offered', // example data (filter by category)
            order: 'id',
            orderType: 'desc',
            pagination: 10
        };
        // Fetch products when the page loads
        $.ajax({
            url: "{{ route('web.products') }}",
            method: "GET",
            data: requestData,
            success: function(response) {
                var productContainer = $('#product_row1');
                productContainer.empty(); // Clear the container

                // Loop through the products and append them to the container
                response.forEach(function(product) {
                    // $primaryImage = '{{ asset('') }}' + product.image[0].image_path ?? '{{ asset('images/default-img.jpg') }}';

                    const primaryImage = product.images[0].image_path ??
                        '{{ asset('images/default-img.jpg') }}';
                    const secondaryImage = product.images[1].image_path ?? primaryImage ??
                        '{{ asset('images/default-img.jpg') }}';
                   const viewUrl = '{{ route('product-details') }}' + '/' + product.slug;
                    productContainer.append(`
                     `);
                });
            },
            error: function(error) {
                console.log("Error fetching products:", error);
            }
        });
    });
</script>

add the quick view mode      <!-- modal section starts -->
    <div class="modal fade" id="modal_box" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal_body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-12">
                                <div class="modal_tab">
                                    <div class="tab-content product-details-large">
                                        <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                                            <div class="modal_tab_img">
                                                <a href="#"><img src="images/product/70.jpg" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab2" role="tabpanel">
                                            <div class="modal_tab_img">
                                                <a href="#"><img src="images/product/71.jpg" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab3" role="tabpanel">
                                            <div class="modal_tab_img">
                                                <a href="#"><img src="images/product/72.jpg" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab4" role="tabpanel">
                                            <div class="modal_tab_img">
                                                <a href="#"><img src="images/product/73.jpg" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal_tab_button">
                                        <ul class="nav product_navactive owl-carousel" role="tablist">
                                            <li>
                                                <a href="#tab1" class="nav-link active" data-toggle="tab"
                                                    role="tab" aria-controls="tab1" aria-selected="false"><img
                                                        src="images/product/70.jpg" alt=""></a>
                                            </li>
                                            <li>
                                                <a href="#tab2" class="nav-link" data-toggle="tab" role="tab"
                                                    aria-controls="tab2" aria-selected="false"><img
                                                        src="images/product/71.jpg" alt=""></a>
                                            </li>
                                            <li>
                                                <a href="#tab3" class="nav-link button_three" data-toggle="tab"
                                                    role="tab" aria-controls="tab3" aria-selected="false"><img
                                                        src="images/product/72.jpg" alt=""></a>
                                            </li>
                                            <li>
                                                <a href="#tab4" class="nav-link" data-toggle="tab" role="tab"
                                                    aria-controls="tab4" aria-selected="false"><img
                                                        src="images/product/73.jpg" alt=""></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-12">
                                <div class="modal_right">
                                    <div class="modal_title mb-10">
                                        <h2>Women's Necklace</h2>
                                    </div>
                                    <div class="modal_price mb-10">
                                        <span class="new_price">Rs. 51164</span>
                                        <span class="old_price">Rs. 54164</span>
                                    </div>
                                    <div class="see_all">
                                        <a href="#">See All Features</a>
                                    </div>
                                    <div class="modal_add_to_cart mb-15">
                                        <form action="#">
                                            <input type="number" min="0" max="100" step="1">
                                            <button type="submit">Add To Cart</button>
                                        </form>
                                    </div>
                                    <div class="modal_description mb-15">
                                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus quibusdam
                                            nisi voluptas consequatur tempora, recusandae nemo blanditiis eaque odit
                                            voluptatibus voluptatem, ipsa incidunt fugiat a.</p>
                                    </div>
                                    <div class="modal_social">
                                        <h2>Share this Product</h2>
                                        <ul>
                                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                            <li><a href="#"><i class="ion-social-rss"></i></a></li>
                                            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                                            <li><a href="#"><i class="ion-social-youtube"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>